{% extends "todo/layout.html" %}

{% block title %} 
    - add tasks
{% endblock %}

{% block body %}
        <div>
            <h1> Add tasks </h1>
            <form action = "{% url 'todo:addTasks' %}" method = "post">
                {% csrf_token %}
                <!-- <input type = "text" name = "task">  -->
                {{ form }}
                <input type = "submit" name = "submit">
            </form>
        </div>

        <div>
            <a href = "{% url 'todo:index' %}"> View tasks </a>
        </div>
{% endblock %}