{% extends "todo/layout.html" %}

{% block title %} 
    - home
{% endblock %}

{% block body %}
        <div>
            <h1> to do:</h1>
            <br>
            <p> 
                <ul>
                    {% for task in tasks %}
                        <li> {{ task.taskItem }} </li>
                        <br>
                        {%  empty %}
                            Nohing here yet. Click below to add a new task.
                    {% endfor %}
                </ul>
            </p>
        </div>

        <div>
            <a href = "{% url 'todo:addTasks' %}"> add new tasks </a>
        </div>
{% endblock %}